
<a data-original-title="" data-remote="true" href="/vmrequests"class="btn btn-primary"> Build Requests</a>
<a data-original-title="" data-remote="true" href="/projects" class="btn btn-primary"> Projects</a>


<div class="landing-container">
  <%= render :partial=> "vmrequests/index"%>
</div>
