<div class="row">

  <div class="col-sm-6 col-md-3">
    <div class="metro-nav">
      <a data-original-title="" data-remote="true" href="/vmrequests">
        <div class="status">Build Request</div>
      </a>
    </div>

  </div>

  <div class="metro-nav">
    <a data-original-title="" data-remote="true" href="/projects">
      <div class="status">Projects</div>
    </a>
  </div>
</div>

<div class="landing-container">
</div>
