<!-- Vm request -ideas -->
<a data-original-title="" data-remote="true" href="/vmrequests" class="btn btn-primary"> Ideas</a>
<a data-original-title="" data-remote="true" href="/projects" class="btn btn-primary"> Tasks  </a>
<!-- <a data-original-title="" data-remote="true" href="/resumes#index" class="btn btn-primary"> Documents </a> -->
<!-- <a data-original-title="" data-remote="true" href="/reports" class="btn btn-primary"> Reports </a> -->


<div class="landing-container">
  <%= render :partial=> "vmrequests/index"%>
  <%#= render :partial=> "projects/index"%>
</div>
