<footer>
 
      <h5 align="center"><b>Copyright © 2014 VMware, Inc. All rights reserved.</b></h5>
      <span style="margin-top:-20px;margin-right:10px;float:right">Developed by <b>Vijaya Jyothi Kalangi</b></span>
   
</footer>
